[user]
	email = hkhodor03@gmail.com
	name = Hussein Khodor
[core]
	editor = code --wait
	autocrlf = input
[init]
	defaultBranch = main
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
